.sidebar {
    background-color: var(--sidebar-bg);
    border-right: 1px solid var(--surface-border);
    display: flex;
    flex-direction: column;
    padding: 15px 16px;
    gap: 10px;
    width: 105%;
}

.sidebar-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 8px 5px;
}

.nav-group {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.nav-group-bottom {
    margin-top: auto;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 10px 12px;
    border-radius: var(--radius-md);
    cursor: pointer;
}

.nav-item.active {
    background-color: var(--surface-alt);
    height: 45px;
    padding-bottom: 17px;
}

.sidebar-collapse-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    background: none;
    border: none;
    padding: 10px 12px;
    cursor: pointer;
}

.sidebar-btn {
    background: none;
    border: none;
    outline: none;
}

.title-icon {
    transform: translateY(5px);
    margin-right: 5px;
}

.nav-label {
    font-family: "Myriad-reg";
    color: rgb(167, 166, 166);
    font-size: 15px;
}