.quote {
    display: flex;
    flex-direction: row; 
    width: 92%;
    gap: 5px;
}

.card-body.focus {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    padding-left: 0px;
    padding-top: 20px;   
}

.card-body.focus h6 {
    font-size: 12px;
}

.quote-and-source {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}