.stat {
    display: flex;
    align-items: center;
    gap: 20px;
}

.unit.sleep-unit {
    font-size: 23px;
    color: white;
}

.stat-value {
    font-size: 28px;
    min-width: 120px;
}

.stat-label, .unit {
    color: gray;
    font-size: 15px;
    flex: 1;
}

.stat-change {
    display:flex;
    align-items:center;
    justify-content:flex-end;
    width: 70px;
    color: #4fe586;
    opacity: 0.6;
}
.stat-label {
    flex: 1;
}
/* 
.card-health-overview {
    height: 250px;
} */